Infoline.OmixEntegrationApp/Connected Services/LogoService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCariList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Gelen" type="tns:ClientFindParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientFindParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CariKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CariUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirmaNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCariListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCariListResult" type="tns:ArrayOfAdClientFind" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdClientFind">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdClientFind" nillable="true" type="tns:AdClientFind" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdClientFind">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CariKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CariUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicariAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicariSoyadi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ilce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Il" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TckNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiDairesi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YetkiliKisi1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YetkiliKisi2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YetkiliKisi3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSevkAdresList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Gelen" type="tns:AdShipFindParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdShipFindParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirmaNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CariKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkKodu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSevkAdresListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSevkAdresListResult" type="tns:ArrayOfAdShipFindList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdShipFindList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdShipFindList" nillable="true" type="tns:AdShipFindList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdShipFindList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CariKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CariUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkAciklamasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkAdresi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkIlce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkIl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkPostaKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkEposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkTelefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SevkIlgiliKisi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMalzemeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Gelen" type="tns:AdItemsFindParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdItemsFindParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirmaNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMalzemeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMalzemeListResult" type="tns:ArrayOfAdItemsFindList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdItemsFindList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdItemsFindList" nillable="true" type="tns:AdItemsFindList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdItemsFindList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UrunKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAciklamasi1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAciklamasi2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAciklamasi3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Birim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MalzemeTuruAciklamasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MalzemeTuruKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StokTakipTipi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barkod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimMaliyet" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimFiyat" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MarkaKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarkaAciklamasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Kategori" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCariListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCariList" />
  </wsdl:message>
  <wsdl:message name="GetCariListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCariListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSevkAdresListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSevkAdresList" />
  </wsdl:message>
  <wsdl:message name="GetSevkAdresListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSevkAdresListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMalzemeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMalzemeList" />
  </wsdl:message>
  <wsdl:message name="GetMalzemeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMalzemeListResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetCariList">
      <wsdl:input message="tns:GetCariListSoapIn" />
      <wsdl:output message="tns:GetCariListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSevkAdresList">
      <wsdl:input message="tns:GetSevkAdresListSoapIn" />
      <wsdl:output message="tns:GetSevkAdresListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMalzemeList">
      <wsdl:input message="tns:GetMalzemeListSoapIn" />
      <wsdl:output message="tns:GetMalzemeListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCariList">
      <soap:operation soapAction="http://tempuri.org/GetCariList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSevkAdresList">
      <soap:operation soapAction="http://tempuri.org/GetSevkAdresList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMalzemeList">
      <soap:operation soapAction="http://tempuri.org/GetMalzemeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCariList">
      <soap12:operation soapAction="http://tempuri.org/GetCariList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSevkAdresList">
      <soap12:operation soapAction="http://tempuri.org/GetSevkAdresList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMalzemeList">
      <soap12:operation soapAction="http://tempuri.org/GetMalzemeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://95.0.40.92:1076/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://95.0.40.92:1076/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>